<HTML lang="en" >
<head>
    <title>Add Reimbursements</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" th:src="@{/js/addReimbursements.js}"></script>
<meta name="viewport">
<style>
    h1 {text-align: center;}
</style>
<body onload = "initialize()">
<h1>Add Reimbursements Form</h1>

<input type="hidden" id="femployeeID" name="femployeeID" value="F01234"/><br>

<label for="freimbursementTypeID">Reimbursement Type:</label>
<select id="freimbursementTypeID">
    <option value="Food">Food</option>
    <option value="Travel">Travel</option>
    <option value="Accomodation">Accomodation</option>
	<option value="Other">Other</option>
</select><br>

<label for="freimbursementNote">Reimbursement Note:</label>
<input type="text" id="freimbursementNote" name="freimbursementNote"/><br>

<label for="freimbursementAmount">Reimbursement Amount:</label>
<input type="text" id="freimbursementAmount" name="freimbursementAmount"/><br>

<label for="freimbursementDate">Reimbursement Date:</label>
<input type="date" id="freimbursementDate" name="freimbursementDate"/><br>

<input type="button" id="fsubmit" name="fsubmit" onClick = "postData()" value="Submit Reimbursement" />

<div id = "div-error-info">
</div>

<br>
<br>

<table  border="1">
    <thead>
    <tr>
    <th>RR_EmployeeID</th>
    <th>RR_TypeID</th>
    <th>RR_Note</th>
	<th>RR_Amount</th>
    <th>Rr_Date</th>
    <th>isAccepted</th>
    </tr>
    </thead>
    <tbody id="fviewReimbursements">
    <tr>
        <td></td>
    </tr>

    </tbody>

</table>

</body>
</HTML>