
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tax Calculation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">


<div class="col-md-12">

<div class="text-left">
<button id="btngenerate" type="button" class="btn btn-primary">Generate Tax</button> 

<div class="text-right">
<button id="btnlogout" type="button" class="btn btn-primary">Logout</button>
</div> 

</div>
</div>
</div>


	<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
	<script src="https://unpkg.com/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
	
    <script>
    
		    $( document ).ready(function() {
		    	
		    	 $("#btngenerate").click(function () {
		    	
     			var request = $.ajax({
    				url: "http://localhost:8080/TaxCalculation/generate",
    				type: "GET",
    				contentType: 'application/json; charset=utf-8',
    				data:null,
    				success: function(result) {
    					  var response=result.split("#");	   						 	   						 
	   				      swal("Total Tax: "+(parseFloat(response[0])-parseFloat(response[1])).toFixed(2),"SalaryWithoutTax:"+response[0]+" And SalaryWithTax:"+response[1], "success"); 
    				}
    			});
     		 	
		     });
		    	 
		    	 
		    	 $("#btnlogout").click(function () {
				    	
		     			var request = $.ajax({
		    				url: "http://localhost:8080/UserAuthentication/logout",
		    				type: "GET",
		    				contentType: 'application/json; charset=utf-8',
		    				data:null,
		    				success: function(result) {		    				
		    					window.location.href = "http://localhost:8080/LoginSignup";		    					
		    				}
		    			});
		     		 	
				     });
		    	 
		    	 
   	
		    });
    
    </script>
    

</body>
</html>